<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>INGRESE INFORMACIÓN DE LA TARJETA</h1>

    <form>
        <label>Elegir Tipo de Tarjeta:</label><br>
        <input type="radio" name="tajeta">VISA<br>
        <input type="radio" name="tajeta">MASTERCARD<br>
        <input type="radio" name="tajeta">NEQUI<br>

        <label>N° de la Tarjeta:</label><br>
        <input type="number"><br>

        <label>Caducidad:</label><br>
        <input type="number"><br>

        <label>CVV2/Codigo de Seguridad:</label><br>
        <input type="number"><br>

        <label>Titular de la Tarjeta:</label><br>
        <input type="text"><br>

        <label>Direccion:</label><br>
        <input type="text"><br>

        <input type="submit">

    </form>
</body>

</html>